body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.app-header {
    background: var(--primary-color);
    padding: 40px 0 40px 0;
    width: 100%;
}

.app-header-content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 0 auto;

    display: grid;
    align-items: center;
    grid-template-columns: max-content auto repeat(3, max-content);
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: var(--primary-alt-color);
}

.social-buttons {
    display: grid;
    grid-template-columns: repeat(3, 45px);
    gap: 10px;
    margin-right: auto;
}

.app-logo {
    margin: 0 33px 0 0;
}

.app-navigation {
    margin-right: 26px;
    color: var(--primary-alt-color);
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 40px;
}

.cart-button {
    margin-right: 30px;
    background: var(--primary-color);
    border: var(--primary-color);
    position: relative;
}

.app-navigation-arrow {
    position: relative;
    top: 2px;
}

.order-button {
    background: var(--primary-alfa-color);
    font-family: "Cardo";
    border: 0cm;
    color: var(--primary-color);
    padding: 13px 33px;
    font-size: 19px;
    font-weight: 700;
}

.order-button_large {
    padding: 20px 53px;
}

.cart-button-quantity {
    border-radius: 50%;
    background: var(--primary-alfa-color);
    position: absolute;
    top: 0%;
    right: 0%;
    font-family: "Inter";
    font-size: 7px;
    padding: 3px;
}

.style-guide {
    background: var(--primary-color);
    font-family: "Cardo";
    color: var(--primary-alt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.jumbotron {
    background: var(--primary-color);

}

.jumbotron-content {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 614px auto;
    grid-column-gap: 95px;
    grid-template-rows: max-content auto repeat(4, max-content);
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 95px 0px 115px 0px
}

.jumbotron-label {
    font-family: Cardo;
    font-style: italic;
    font-weight: lighter;
    color: var(--primary-alt-color);
    font-size: 24px;
}

.jumbotron-label::before {
    content: ' ';
    width: 34px;
    max-width: 150px;
    height: 2px;
    background: var(--primary-alfa-color);
    display: inline-block;
    margin-bottom: 7px;
}

.jumbotron-heading {
    font-family: Cardo;
    font-size: 65px;
    color: var(--primary-alt-color);
}

.jumbotron-description {
    font-family: Inter;
    font-size: 19px;
    color: var(--primary-beta-color);
}

.link-button {
    border: none;
    background: transparent;
    color: var(--primary-alt-color);
    font-family: Cardo;
    font-size: 19px;
    font-weight: bolder;
    padding: 3px 4px;
    border-bottom: 1px solid var(--primary-alt-color);
}

.jumbotron-button {
    margin-right: 37px;
}

.details {
    font-size: 24px;
    font-family: Cardo;
    color: var(--primary-alt-color);
    display: grid;
    grid-template-columns: max-content auto repeat(3, max-content);
    grid-column-gap: 80px;
    padding: 50px 0 0 0;
}

.details ::before {
    content: " ";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primary-alfa-color);
    display: inline-block;
}

.details-alfa {
    display: grid;
    grid-template-columns: max-content auto repeat(3, max-content);
    color: var(--primary-beta-color);
    grid-column-gap: 80px;
    font-family: Inter;
    font-size: 18px;
    padding-left: 20px;
}

.Author-books {
    background: var(--primary-alt-color);

}

.Author-books-content {
    background-color: var(--primary-alt-color);
    display: grid;
    grid-template-rows: 2;
    width: 100%;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 145px 0px 150px 0px;
}

.Author-books-content-label {
    font: 45px/54px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}


.Author-books-content-label::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background: #000;
    margin: 22px auto 0;
}

.Author-books-content-section {
    display: grid;
    grid-template-columns: 621px auto;
    padding: 57px 0px;
    grid-column-gap: 66px;
}

.book-1 {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 40px;
}

.book-1-label {
    font: 32px/38px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
}

.book-1-content {
    font: 19px/34px "Inter";
    font-weight: 400;
    color: var(--primary-grey-color);
}

.book-2 {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 40px;
}

.book-2-label {
    font: 32px/38px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
}

.book-2-content {
    font: 19px/34px "Inter";
    font-weight: 400;
    color: var(--primary-grey-color);
}

.About-author {
    background: var(--primary-gamma-color);
}

.About-author-content {
    width: 100%;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 150px 0px 150px 0px;
    display: grid;
    grid-template-columns: 550px auto;
    grid-column-gap: 142px;
}

.About-author-content::after {
    content: '';
    box-shadow: inset 0 0 0 10px var(--primary-alfa-color);
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 650px;
    transform: translate(30px, 30px);
}

.About-author-content img {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

.Author-info {
    display: grid;
    grid-template-rows: max-content auto repeat(4, max-content);
}

.Author-info-heading {
    font: 45px/54px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
}

.Author-info-description {
    font: 19px/34px "Inter";
    font-weight: 400;
    color: var(--primary-grey-color);
}

.Author-info-card {
    display: grid;
    grid-template-columns: 130px auto;
}


.more-books {
    background: var(--primary-alt-color);
}

.more-books-content {
    width: 100%;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 130px 0px 140px 0px;
    display: grid;
    grid-template-rows: max-content auto repeat(2, max-content);
    grid-row-gap: 62px;
}

.more-books-heading {
    font: 45px/54px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
    margin: auto;
    align-items: center;
}

.more-books-description {
    display: grid;
    grid-template-columns: max-content auto repeat(4, max-content);
    grid-column-gap: 97px;
}

.logo-1-heading {
    font: 24px/30px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
    align-items: center;
}

.logo-2-heading {
    font: 24px/30px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
    align-items: center;
}

.logo-3-heading {
    font: 24px/30px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
    align-items: center;
}

.logo-4-heading {
    font: 24px/30px "Cardo";
    font-weight: 700;
    color: var(--primary-color);
    align-items: center;
}

.Copy-book {
    background-color: var(--primary-color);
}

.Copy-book-content {
    width: 100%;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 37px 310px 37px 276px;
    display: grid;
    grid-template-columns: max-content auto repeat(2, max-content)
}

.Copy-book-description {
    padding: 83px 127px 83px 0px;
}

.Copy-book-heading {
    font: 45px/54px "Cardo";
    font-weight: 700;
    color: var(--primary-alt-color);
}

.Copy-book-info {
    font-size: 19 px;
    font-family: "Inter";
    font-weight: 400;
}